In [6]:
import numpy as np
import pandas as pd

In [7]:
data = pd.read_csv("https://bit.ly/fc-ml-titanic")

### 데이터 셋: 타이타닉 데이터셋 (출처: Kaggle.com)

In [8]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

- PassengerId : 승객 아이디
- Pclass: 등급
- Survived: 생존여부, 1: 생존, 0: 사망
- SibSp: 형제, 자매, 배우자 수
- Parch: 부모, 자식 수
- Ticket: 티켓 번호
- Fare: 요금
- Cabin: 좌석번호

#### 전처리 : train / validation 세트 나누기

1. 먼저 feature 와 label을 정의함
2. feature / label을 정의했으면, 적절한 비율로 train과 validation set을 나눔

In [10]:
feature = [
    'Pclass', 'Sex', 'Age', 'Fare'
] # 학습을 하기 위한 컬럼

In [11]:
label = [
    'Survived'
] # 예측을 하기 위한 컬럼

In [14]:
data[feature].head() # 학습을 해야 할 값들

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [13]:
data[label].head() # 예측을 해야 할 값

   Survived
0         0
1         1
2         1
3         1
4         0

In [16]:
from sklearn.model_selection import train_test_split

- test_size: validation set에 할당할 비율 (20% -> 0.2) 
- shuffle: 셔플 옵션(기본 True)
- random_state: 랜덤 시드값_state: 랜덤 시드값

In [26]:
x_train, x_valid, y_train, y_valid = train_test_split(train[feature], train[label],
                                                      test_size=0.2,
                                                     shuffle=True, random_state=30)

In [27]:
x_train.shape, y_train.shape # 훈련데이터와 column 개수가 찍함, 차원수

((712, 4), (712, 1))

In [28]:
x_valid.shape, y_valid.shape

((179, 4), (179, 1))

In [29]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB