## 전처리: Normalize(정규화)

column 간에 다른 min, max값을 가지는 경우, 정규화를 통해 최소치 / 최대값의 척도를 맞추어주는것

- 네이버 영화평점(0점 ~ 10점): [2, 4, 6, 8, 10]
- 넷플릭스 영화평점(0점 ~ 5점): [1, 2, 3, 4, 5]

In [4]:
import pandas as pd

In [6]:
movie = {
    'naver': [2, 4, 6, 8, 10],
    'netflix': [1, 2, 3, 4, 5]
}

In [7]:
movie = pd.DataFrame(data=movie)

In [8]:
movie

   naver  netflix
0      2        1
1      4        2
2      6        3
3      8        4
4     10        5

In [9]:
from sklearn.preprocessing import MinMaxScaler

In [10]:
min_max_scaler = MinMaxScaler()

In [11]:
min_max_movie = min_max_scaler.fit_transform(movie)

In [12]:
pd.DataFrame(min_max_movie, columns=['naver', 'netflix'])

   naver  netflix
0   0.00     0.00
1   0.25     0.25
2   0.50     0.50
3   0.75     0.75
4   1.00     1.00